.glass-card {
    position: relative;
    padding: 1rem 2.5rem;
    border-radius: 1.5rem;
    z-index: 1;

    font-family: "PingFang SC",sans-serif;

    background: rgba(200, 200, 200, 0.2);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    overflow: hidden;
    box-shadow: 
        0 8px 32px 0 rgba(31, 38, 135, 0.37),
        0 0 0 1px rgba(255, 255, 255, 0.1) inset;
    transform-style: preserve-3d;
}

.glass-card > *:not(.avatar) {
    transform: translateZ(20px);
}

.glass-card .avatar {
    transform: translateZ(30px);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
